if SHIELD_MACRO222_RIGHT #ここを変えてセントラル側に問題のコードを移行

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Macro222"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MACRO222_LEFT || SHIELD_MACRO222_RIGHT

config ZMK_SPLIT
    default y

endif