/ {
    keymap {
        compatible = "zmk,keymap";

        default { // Layer 0    default_layer -> default
            // -------------------------------------
            // |     1     |     2     |     5     |     6     |
            // |     3     |     4     |     7     |studio_unlock|
            bindings = <
                &kp a    &kp b    &kp e    &kp f
                &kp c    &kp d    &kp g    &kp h
            >;
        };
    };
 };