/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     1     |     2     |     5     |     6     |
            // |     3     |     4     |     7     |studio_unlock|
            bindings = <
                &kp N1    &kp N2    &kp N5    &kp N6
                &kp N3    &kp N4    &kp N7    &kp N8
            >;
        };
    };
 };