/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     a     |     b     |     e     |     f     |
            // |     c     |     d     |     g     |     h     |
            bindings = <
                &kp A    &kp B    &kp E    &kp F
                &kp C    &kp D    &kp G    &kp H
            >;
        };
    };
 };